@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{
    background-image:url(https://cdn.dribbble.com/users/1162077/screenshots/4900393/business-pattern.gif);
}
#p{
    animation: mymove 3s;
}
@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
  }
#a{
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    padding: 130px;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    display: grid;
    margin:auto;
    box-shadow: white 0px 7px 29px 0px;
  }
button{
      border-radius: 8px;
      padding: 10px;
      font-family: 'Josefin Sans', cursive;
      font-size: 15px;
      color:white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      background-color: black;
      transition-duration: 0.8s;
      display: grid;
      margin:auto;
      margin-top: 10px;
  }
p{
    display: grid;
    margin:auto;
}
button:hover{
    background-color: grey;
}
#link{
    color: white;
    text-decoration: none;
}